.wrapper {
  padding: 10px 100px;

  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

  background-color: #373e47;
}

/* HEADER */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_flex {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  height: 60px;
}

h1 {
  margin: 0;

  font: bold 40px 'Work Sans', sans-serif;
}

.button__settings {
  height: 44px;
  width: 120px;

  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: #000;

  font: bold 16px 'Work Sans', sans-serif;
  color: #373e47;
}

.button__settings:hover {
  color: #fff;
}

/* MAIN */
/* Section: GAME */

.game {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 60px - 54px - 20px);;
}

.playing-field {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
  height: 300px;
}

.playing-field_cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  background-color: #22272e;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 25%;

  color: #fff;
  font: bold 30px 'Work Sans', sans-serif;
}

.playing-field_cell:hover {
  opacity: 0.6;
}

/* MAIN */
/* Section: GAME */
/* Win block */

.window-win {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;

  width: 350px;
  height: 310px;

  background-color: #fff;
  border: 3px solid #22272e;
  box-sizing: border-box;
  border-radius: 10px;
}

.player-win {
  margin: 0;

  font: bold 40px 'Work Sans', sans-serif;
}

.number-moves {
  margin: 0;

  font: bold 28px 'Work Sans', sans-serif;
}

.window-win__button {
  height: 44px;
  width: 120px;

  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: #22272e;

  font: bold 30px 'Work Sans', sans-serif;
  color: #373e47;
}

.window-win__button:hover {
  color: #fff;
}

.window-win.active {
  display: flex;
}


/* FOOTER */

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information__rs-school,
.information__github {
  height: 50px;
  width: 135px;
}

.information__year {
  margin: 0;

  font: bold 24px 'Work Sans', sans-serif;
}


/* MEDIA 700px */

@media screen and (max-width: 700px) {

  .wrapper {
    padding: 10px 75px;
  }
 
  /* HEADER */

  .logo_flex {
    gap: 40px;
  }

  .logo {
    height: 40px;
  }

  h1 {
    font-size: 30px;
  }

  .button__settings {
    height: 35px;
    width: 90px;

    font-size: 14px;
  }

  /* MAIN */
  /* Section: GAME */

  .game {
    height: calc(100vh - 40px - 49px - 20px);;
  }

  .playing-field {
    width: 150px;
    height: 150px;
  }
  
  .playing-field_cell {
    width: 50px;
    height: 50px;

    font-size: 20px;
  }

  /* MAIN */
  /* Section: GAME */
  /* Win block */

  .window-win {
    width: 200px;
    height: 160px;
  }
  
  .player-win {
    font-size: 26px;
  }
  
  .number-moves {
    font-size: 16px;
  }
  
  .window-win__button {
    height: 35px;
    width: 90px;
  
    font-size: 18px;
  }

  /* FOOTER */

  .information__rs-school,
  .information__github {
    height: 45px;
    width: 110px;
  }

  .information__year {
    font-size: 18px;
  }
}


/* MEDIA 500px */

@media screen and (max-width: 500px) {

  .wrapper {
    padding: 10px 50px;
  }
 
  /* HEADER */

  .logo_flex {
    gap: 30px;
  }

  .logo {
    height: 30px;
  }

  h1 {
    font-size: 19px;
  }

  .button__settings {
    height: 28px;
    width: 70px;

    font-size: 11px;
  }

  /* MAIN */
  /* Section: GAME */

  .game {
    height: calc(100vh - 30px - 39px - 20px);;
  }

  /* FOOTER */

  .information__rs-school,
  .information__github {
    height: 35px;
    width: 80px;
  }

  .information__year {
    font-size: 18px;
  }
}